.App {
  padding: 50px 20px;
  width: 1000px;
  margin: 0 auto;
  color: #444;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: #6163ff;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

select {
  padding: 3px 20px 3px 3px;
  border-radius: 5px;
  border: none;
  color: #444;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .3);
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper:after {
  display: inline-block;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  width: 25px;
  background: #f5f5f5;
  position: absolute;
  border-radius: 0 5px 5px 0;
  pointer-events: none;
}

.select-caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: #6163ff;
  position: absolute;
  top: 43%;
  right: 8px;
  z-index: 1;
  pointer-events: none;
}

.link-btn {
  background: none;
  border: none;
  color: #6163ff;
}

h1, h3 {
  margin: 0;
  font-weight: 500;
}

p {
  margin-top: 5px;
}
